@media only screen and (min-width:426px) and (max-width:768px) {

nav {
    padding-right: 40px;
}

.paragraph {
    font-size: unset;
    line-height: 25px;
}

.potfolio_heading {
    width: 80%;
}
.portfolio_images {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.portfolio_images img {
    width: 80%;
    clip-path: unset;
    overflow: unset;
    margin: 10px;
    height: 250px;

}

hr {
    width: 150px;
}

.services_icons {
    flex-direction: column;
    align-items: center;
}
.services_icons div {
    width: 70%;
}
.services p {
    line-height: 30px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#email {
    width: 70%;    
}


}